

	<div id="footer">
	
		<div class="container  clearfix">
		
			
			
			
				<h4>About Bring It on</h4>
				
				<p class="about-text">
					 It's  awsum: Nunc dolor. Proin aliquam, orci nec scelerisque accumsan, nunc sem dignissim pede, nec malesuada sem ligula ac sapien. Etiam quis purus a libero lobortis viverra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean nec justo ac sapien placerat posuere. Nullam ut eros. Praesent pellentesque. Sed lacinia suscipit sem. Proin lobortis risus ornare diam. Nulla libero. Duis egestas elementum risus. Aliquam gravida lectus non mauris placerat sollicitudin. Proin sed lacus a tortor convallis suscipit. Ut vitae lorem.
				</p>
				
				<p class="copyright">
					&copy; Copyright  Bring It On
				</p>
				
			
		
		</div><!-- End container -->
	
	</div><!-- End footer -->
